<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block style %}{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block extrahead %}{% endblock %}
</head>
<body>
    
    <main>
        <div class="navbar">{% block header %}{% endblock %}</div>
        {% block content %}
        {% endblock %}
        <footer>{% block footer %}{% endblock %}</footer>
    </main>
    <script src="{% block script_after_main %}{% endblock %}"></script>
</body>
    {% block afterbody %}{% endblock %}
</html>